#story

  #story-info
    %h2 In this story
    .pod
      - @story.users.each do |user|
        = link_to image_tag(user.photo_url("square")), user, :class => "avatar"

    .pod
      %strong Shared:
      = time_ago_in_words @story.created_at
      ago
      
  #story-content
    %p.timestamp
      = link_to @story.owner.name, @story.owner
      shared a story
      - unless @story.parsed_when.nil?
        from
        = time_ago_in_words @story.parsed_when
        ago.
    %h1= story_title(@story)
    %p
      = image_tag @story.photo.url(:thumb)
      = @story.what
