!!! 5
%html{ :lang => "en"}
  %head
    %title
      memoirie
    %meta{ :charset => 'utf-8' }
    %meta{ :name => 'description', :content => "" }
    %meta{ :name => 'keywords', :content => "" }
    - if content_for? :meta_image_src
      %link{ :rel => "image_src", :href => yield(:meta_image_src) }
    = stylesheet_link_tag 'layout'
    = javascript_include_tag :defaults
    = javascript_include_tag "autocomplete.js"
    = csrf_meta_tag
    %meta{:name => "apple-mobile-web-app-capable", :content => "yes"}
    %meta{:name => "apple-mobile-web-app-status-bar-style", :content => "black"}
    %meta{:name => "viewport", :content => "width=780, user-scalable=no;"}
    :javascript
      function ismobilesafari() {
        if(navigator.userAgent.indexOf('iPod')    != -1)  {return true;}
        if(navigator.userAgent.indexOf('iPad')    != -1)  {return true;}
        if(navigator.userAgent.indexOf('iPhone')  != -1)  {return true;}
        else{return false;}
      }
      var mobilesafari = ismobilesafari();
    
  %body
    - flash.each do |key, value|
      .flash{ :class => key } 
        = value
    #container
      #header
        %h1
          %a{ :href => '/', :title => "" }
            memoirie
        .user_nav
          - if current_user
            Welcome, 
            = link_to current_user.name, current_user
            = "|"
            = link_to "Sign Out", signout_path
          - else 
            = link_to "Sign in with Facebook", "/auth/facebook"

      #content
        =yield
      #footer
        .inset
          %p
            &copy; 
            = Time.now.year
            memoirie
